<canvas
  baseChart
  [type]="'pie'"
  [datasets]="[
    {
      label: store.repository().name,
      data: [store.issues().open, store.issues().closed],
      backgroundColor: ['#c22b60', '#2bc271'],
    },
  ]"
  [labels]="pieChartLabels"
  [options]="{
    responsive: true,

    plugins: {
      legend: {
        position: 'bottom',
      },
      title: {
        display: true,
        text: store.repository().name + ' issues',
      },
    },
  }"
  [plugins]="pieChartPlugins"
  [legend]="pieChartLegend"
>
</canvas>
