<div class="row app-header-search">
  <div class="col col-lg-4 d-flex">
    <mat-icon>remove_done</mat-icon>
    <span class="app-name">CCI Platform Development</span>
  </div>
  <div class="col col-lg-8 d-flex">
    <mat-form-field appearance="outline" subscriptSizing="dynamic" class="search-input">
      <mat-label>Search for a Repository
      </mat-label>
      <input matInput type="text" [(ngModel)]="value">
      <button matSuffix mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>
