<div class="app-header-search">
  <div class="container">
    <div class="row">
      <div class="col col-lg-4 d-flex align-items-center">
        <mat-icon>remove_done</mat-icon>
        <a class="app-name" routerLink="/">CCI Platform Development</a>
      </div>
      <div class="col col-lg-8 d-flex">
        <mat-form-field
          appearance="outline"
          subscriptSizing="dynamic"
          class="search-input"
        >
          <mat-label>Search for a Repository </mat-label>
          <input
            (keyup.enter)="searchRepositories()"
            matInput
            type="text"
            [(ngModel)]="value"
          />
          <button matSuffix mat-icon-button (click)="searchRepositories()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
