<div class="row">
  <div class="col col-lg-8">
    <div class="row app-section--header">
      <div class="col app-section__heading">
        Issues
        <mat-chip class="app-section__heading-chip"
          >{{ store.issues().total_count | numberShortener }}, issues</mat-chip
        >
      </div>
      <div class="col app-section--filter">
        <mat-button-toggle-group
          name="fontStyle"
          value="all"
          (change)="filterIssues($event.value)"
        >
          <mat-button-toggle value="all">All</mat-button-toggle>
          <mat-button-toggle value="open">Open</mat-button-toggle>
          <mat-button-toggle value="closed">Closed</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>

    <div class="col-12 app-section-issues">
      @for (issue of issuesList$ | async; track issue.id) {
        <mat-card class="app-card" appearance="outlined">
          <mat-card-header>
            <mat-card-title class="app-card__title"
              ><a [href]="issue.html_url" target="_blank"
                >{{ issue.title }} <mat-icon fontIcon="open_in_new"></mat-icon>
              </a>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="app-card__markdown-content">
            <markdown
              class="app-card__markdown"
              [data]="issue.body"
              [disableSanitizer]="true"
            >
            </markdown>
          </mat-card-content>
        </mat-card>
      }
    </div>
  </div>
  <div class="col col-lg-4">
    <cci-github-repository-chart></cci-github-repository-chart>
  </div>
</div>
