<div class="col app-section">
  <div class="row app-section--header">
    <div class="col-8">
      <span class="app-section__heading">Repositories</span>
    </div>
    <div class="col-4 app-section__header-results">
      <p class="paragraph">{{ store.totalCount() | numberShortener }}, results</p>
    </div>
  </div>

  <div class="app-section-wrapper">
    <div class="github-repositories">
      @if (store.isLoading()) {
        <cci-loader [range]="5"></cci-loader>
      } @else {
        @for (repository of store.repositories(); track repository.id) {
          <mat-card class="app-card" appearance="outlined">
            <mat-card-header>
              <mat-card-title class="app-card__title"
                ><a routerLink="/repository/{{ repository.full_name }}">{{
                  repository.full_name
                }}</a></mat-card-title
              >
            </mat-card-header>
            <mat-card-content>
              <p class="app-card__content">
                {{ repository.description }}
              </p>
            </mat-card-content>
            <mat-card-footer class="app-card-footer">
              <ul class="app-card-footer__items">
                @if (repository.language) {
                  <li class="app-card-footer__item">{{ repository.language }}</li>
                }

                <li class="app-card-footer__item">
                  <mat-icon
                    aria-hidden="false"
                    aria-label="star"
                    fontIcon="star"
                  ></mat-icon
                  >{{ repository.stargazers_count | numberShortener }}
                </li>
                <li class="app-card-footer__item">
                  Updated on {{ repository.updated_at | date: 'MMM d' }}
                </li>
              </ul>
            </mat-card-footer>
          </mat-card>
        }
      }
    </div>
  </div>
</div>
