<div class="row">
  <div class="col app-section">
    @if (store.isLoading()) {
      <cci-loader height="70vh"></cci-loader>
    } @else if (store.repository()) {
      <div class="row app-section--header">
        <div class="col-6">
          <span class="app-section__heading"
            ><button
              mat-icon-button
              [routerLink]="['/repositories']"
              [queryParams]="{ repositoryName: store.repository().name }"
            >
              <mat-icon>keyboard_arrow_left</mat-icon></button
            >{{ store.repository().full_name }}
          </span>
        </div>
        <div class="col-6">
          <mat-chip-set aria-label="Fish selection" class="app-section__header-chip">
            <mat-chip
              >Watch:
              {{ store.repository().watchers_count || 0 | numberShortener }}</mat-chip
            >
            <mat-chip
              >Fork:{{ store.repository().forks_count || 0 | numberShortener }}</mat-chip
            >
            <mat-chip
              >Star:
              {{ store.repository().stargazers_count || 0 | numberShortener }}</mat-chip
            >
            <mat-chip
              >Open Issues:
              {{ store.repository().open_issues_count || 0 | numberShortener }}</mat-chip
            >
          </mat-chip-set>
        </div>
      </div>

      <div class="app-section-wrapper">
        <div class="row">
          <div class="col col-lg-8 app-section-wrapper--inner">
            <!-- Start Github Repository Desc-->

            <div class="app-section__desc">
              <p>{{ store.repository().description }}</p>
              <a mat-flat-button [href]="store.repository().html_url" target="_blank"
                >View on GitHub</a
              >
            </div>

            <!-- End Github Repository Desc-->
          </div>

          <cci-github-repository-issues></cci-github-repository-issues>
        </div>
      </div>
    }
  </div>
</div>
